$background: #150e28;
$primary: #d434fe;
$white: #ffffff;
$gray: #ffffff2e;
$pink: #ff26b9;

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@mixin column {
  display: flex;
  flex-direction: column;
}
