@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./_variables.scss";
@import "./layout.scss";
@import "./home.scss";
@import "./contact/contact.scss";
@import "./register/register.scss";

@import "../components/star/star.scss";
@import "../components/modals/modals.scss";

@font-face {
  font-family: "ClashDisplay";
  src: url("../public/assets/fonts/ClashDisplay-Regular.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ClashDisplay";
  src: url("../public/assets/fonts/ClashDisplay-Medium.otf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "ClashDisplay";
  src: url("../public/assets/fonts/ClashDisplay-Semibold.otf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "ClashDisplay";
  src: url("../public/assets/fonts/ClashDisplay-Bold.otf");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "ClashDisplay";
  src: url("../public/assets/fonts/ClashDisplay-Light.otf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "ClashDisplay";
  src: url("../public/assets/fonts/ClashDisplay-Extralight.otf");
  font-weight: 400;
  font-style: normal;
}

body {
  background: $background;
  overflow-x: hidden;
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    margin-top: 1rem;
    height: 0.6rem;
    width: 0.6rem;
    background-color: transparent;
  }

  &::-webkit-scrollbar-track {
    border-radius: 0.5rem;
    background-color: transparent;
    cursor: pointer;
  }

  &::-webkit-scrollbar-thumb {
    border: 2px solid $white;
    background: $background;
    border-radius: 1rem;
  }
}

body,
h1,
p {
  margin: 0;
  padding: 0;
}

.btn-primary {
  border-radius: 4px;
  background: linear-gradient(
    -180deg,
    #903aff 0%,
    #d434fe 56.42%,
    #ff26b9 99.99%,
    #fe34b9 100%
  );
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  padding: 1rem 4rem;

  &:hover {
    padding: 2px;

    .btn-primary-inner {
      background: $background;
      padding: 0.8rem 3.8rem;
      transition: background-color 0.3s ease-in-out;
    }
  }
}

.btn-secondary {
  @extend .btn-primary;
  padding: 2px;

  &-inner {
    background: $background;
    padding: 0.8rem 3.8rem;
    transition: all 0.3s ease-in-out;
  }

  &:hover {
    .btn-secondary-inner {
      background: linear-gradient(
        -180deg,
        #903aff 0%,
        #d434fe 56.42%,
        #ff26b9 99.99%,
        #fe34b9 100%
      );
    }
  }
}
