@import "./variables";

.home {
  height: 100%;

  &-inner {
    @include column;
    gap: 1rem;

    .hero {
      width: 100%;
      @include column;
      align-items: center;
      border-bottom: 1px solid $gray;
      padding-top: 0;

      &-intro {
        padding-top: 2rem;
        display: flex;
        justify-content: flex-end;
        width: 85%;
        margin-bottom: 2rem;
        z-index: 2;

        &-wrapper {
          @include column;
          align-items: flex-end;
          float: right;

          .hero-intro-text {
            font-size: 2rem;
            font-style: italic;
            font-weight: 700;
            color: $white;
            text-align: left;
            height: 3rem;
          }
        }
      }

      &-content {
        width: 100%;
        @include center;

        &-wrapper {
          width: 85%;
          display: flex;
          justify-content: space-between;
          align-items: center;

          .hero-content-text {
            width: 45%;
            @include column;
            z-index: 1;

            &-wrapper {
              background: url("../public/assets/images/header_text_bg.png"),
                $background;
              background-size: contain;
              background-repeat: no-repeat;
              background-blend-mode: hard-light;
              position: absolute;
              top: 0;
              padding-top: 12%;
              width: 40%;

              .star {
                padding-left: 5rem;
                margin-bottom: 3rem;
              }
            }

            .bottom-star {
              position: absolute;
              bottom: 10%;
              right: 30%;
            }

            &-title {
              margin-bottom: 1.5rem;
              z-index: 2;
              h1 {
                font-family: "ClashDisplay";
                font-size: 4.5rem;
                font-weight: 700;
                color: $white;
                line-height: normal;
                display: flex;
                align-items: center;

                img {
                  min-height: 4rem;
                  min-width: 4rem;
                }

                .secondary {
                  color: $primary;
                }

                .bulb {
                  position: relative;

                  img {
                    position: absolute;
                    top: -50%;
                    right: -50%;
                    min-height: 3rem;
                    min-width: 3rem;
                  }
                }
              }
            }

            p {
              z-index: 2;
              font-size: 1.25rem;
              font-style: normal;
              font-weight: 500;
              line-height: 166%;
              color: $white;
              margin-bottom: 3rem;
              height: max-content;
              height: 5rem;
            }

            button {
              width: max-content;
              margin-bottom: 5rem;
            }

            .countdown {
              color: $white;

              &-wrapper {
                display: flex;
                gap: 2rem;

                .countdown-time {
                  display: flex;
                  align-items: baseline;
                  font-weight: 500;

                  .countdown-number {
                    font-size: 3.5rem;
                    line-height: 133%;
                  }

                  .countdown-prefix {
                    font-size: 1rem;
                    line-height: 133%;
                  }
                }
              }
            }
          }

          .hero-content-image {
            width: 50%;
            @include center;
            position: relative;

            .hero-content-image-star {
              position: absolute;
              top: 0;
              left: -10%;
            }
            &-wrapper {
              height: 100%;
              background: url("../public/assets/images/vr_guy.png"),
                rgba(21, 14, 40, 0.8);
              background-blend-mode: luminosity;
              background-size: contain;
              background-repeat: no-repeat;
              display: flex;
              justify-content: flex-start;
              padding: 0 3rem 0 0;

              img {
                animation: rotate 20s infinite linear;
              }
            }
          }
        }
      }
    }

    .big-idea {
      width: 100%;
      @include center;
      // border-bottom: 2px solid $gray;

      &-inner {
        padding: 5rem 0;
        width: 85%;
        @include center;
        justify-content: space-between;

        .big-idea-image {
          width: 45%;
          height: 100%;
          padding: 2rem;
          position: relative;

          &-star {
            position: absolute;
            top: 0;
            left: 0;
          }
          &-arrow {
            position: absolute;
            bottom: 0;
            right: 0;
            animation: spring 3s infinite linear;
          }
        }

        .big-idea-content {
          width: 45%;
          &-wrapper {
            .big-idea-content-title {
              font-family: "ClashDisplay";
              font-size: 2rem;
              font-weight: 700;
              color: $white;
              margin-bottom: 1rem;
              position: relative;

              .secondary {
                color: $primary;
              }

              &-star {
                position: absolute;
                right: 0;
                top: 0;
              }
            }
            .big-idea-content-desc {
              color: $white;
              font-size: 0.875rem;
              font-weight: 500;
              line-height: 2rem;
            }
          }
        }
      }
    }

    .rules {
      width: 100%;
      @include center;
      height: 100%;
      border-bottom: 1px solid $gray;
      border-top: 1px solid $gray;
      background: url("../public/assets/images/header_text_bg.png"), $background;
      background-size: contain;
      background-repeat: no-repeat;
      background-blend-mode: hard-light;

      &-inner {
        height: 100%;
        padding: 5rem 0;
        width: 85%;
        @include center;
        justify-content: space-between;

        .rules-image {
          width: 45%;
          height: 100%;
          position: relative;
        }

        .rules-content {
          width: 45%;
          // background: url("../public/assets/images/header_text_bg.png"),
          //   $background;
          // background-size: contain;
          // background-repeat: no-repeat;
          // background-blend-mode: hard-light;
          // background-position: bottom;
          padding: 3rem 0;

          &-wrapper {
            position: relative;

            .rules-content-title {
              font-family: "ClashDisplay";
              font-size: 2rem;
              font-weight: 700;
              color: $white;
              margin-bottom: 1rem;

              .secondary {
                color: $primary;
              }

              &-star {
                position: absolute;
                left: 50%;
                top: 0;
              }
              &-star2 {
                position: absolute;
                right: 0;
                bottom: -5%;
              }
            }
            .rules-content-desc {
              color: $white;
              font-size: 0.875rem;
              font-weight: 500;
              line-height: 2rem;
            }
          }
        }
      }
    }

    .criteria {
      width: 100%;
      @include center;
      border-bottom: 1px solid $gray;

      // border-bottom: 2px solid $gray;

      &-inner {
        padding: 5rem 0;
        width: 85%;
        @include center;
        justify-content: space-between;
        overflow: hidden;

        .criteria-image {
          width: 45%;
          height: 100%;
          padding: 2rem;
          position: relative;

          &-star {
            position: absolute;
            top: 0;
            left: 0;
          }
          &-arrow {
            position: absolute;
            bottom: 0;
            right: 0;
            animation: spring 3s infinite linear;
          }
        }

        .criteria-content {
          width: 45%;
          &-wrapper {
            .criteria-content-title {
              font-family: "ClashDisplay";
              font-size: 2rem;
              font-weight: 700;
              color: $white;
              margin-bottom: 1rem;
              position: relative;

              .secondary {
                color: $primary;
              }

              &-star {
                position: absolute;
                right: 0;
                top: 0;
              }
              &-star2 {
                position: absolute;
                left: 50%;
                top: 50%;
              }
            }
            .criterias {
              li {
                margin-bottom: 1rem;
                p {
                  color: $white;
                  font-size: 0.875rem;
                  font-weight: 700;
                  line-height: 170%;

                  span {
                    color: $pink;
                    font-size: 1rem;
                  }
                }
              }
            }

            button {
              margin-top: 2rem;
            }
          }
        }
      }
    }

    .questions {
      width: 100%;
      @include center;
      border-bottom: 1px solid $gray;

      &-inner {
        padding: 5rem 0;
        width: 85%;
        @include center;
        justify-content: space-between;
        overflow: hidden;

        .questions-image {
          width: 45%;
          height: 100%;
          padding: 2rem;
          position: relative;

          .question-mark {
            position: absolute;
            animation-name: bounce;
            animation-duration: 1s;
            animation-iteration-count: infinite;
          }

          .mark1 {
            left: 5%;
            animation-delay: 0.1s;
          }
          .mark2 {
            left: 30%;
            top: -7%;
            animation-delay: 0.3s;
          }
          .mark3 {
            left: 55%;
            top: -5%;
            animation-delay: 0.5s;
          }

          &-star {
            position: absolute;
            top: 0;
            left: 0;
          }
          &-arrow {
            position: absolute;
            bottom: 0;
            right: 0;
            animation: spring 3s infinite linear;
          }
        }

        .questions-content {
          width: 45%;
          &-wrapper {
            .questions-content-title {
              font-family: "ClashDisplay";
              font-size: 2rem;
              font-weight: 700;
              color: $white;
              margin-bottom: 1rem;
              position: relative;

              .secondary {
                color: $primary;
              }

              &-star {
                position: absolute;
                right: 0;
                top: 0;
              }
              &-star2 {
                position: absolute;
                left: 50%;
                top: 50%;
              }
            }

            .questions-content-title-desc {
              color: $white;
              font-size: 0.875rem;
              font-weight: 400;
              line-height: 1.5rem;
              margin-bottom: 1rem;
            }

            .faqs {
              @include column;
              gap: 2rem;
              height: 100%;

              li {
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                cursor: pointer;
                height: 4rem;
                overflow: hidden;
                transition: all 0.5s ease-in-out;
                border-bottom: 1px solid $primary;
                text-align: left;

                .question {
                  @include between;
                  font-size: 0.9rem;
                  color: $white;
                  font-weight: 600;
                  min-height: 4rem;
                  z-index: 2;
                  padding-bottom: 1rem;
                  transition: all 0.5s ease-in-out;

                  .plus {
                    color: $primary;
                    font-size: 2rem;
                    font-weight: 500;
                    transition: all 0.5s ease-in-out;
                  }
                }
                .answer {
                  padding: 0;
                  color: $white;
                  font-weight: 500;
                  font-size: 0.875rem;
                  padding-bottom: 1rem;
                  transition: all 1s ease-in-out;
                }
              }

              .active-faq {
                height: 9rem;
                .question {
                  padding-bottom: 0;
                  color: $primary;
                }
                .answer {
                  margin-top: 0;
                }
              }
            }

            button {
              margin-top: 2rem;
            }
          }
        }
      }
    }

    .timeline {
      width: 100%;
      @include center;
      background: #150e28;

      &-inner {
        width: 85%;
        padding: 5rem 0;
        @include column;
        align-items: center;

        .timeline-title {
          @include column;
          text-align: center;
          width: 40%;
          margin-bottom: 5rem;

          h1 {
            color: $white;
            font-weight: 700;
            font-family: "ClashDisplay";
            font-size: 2rem;
            margin-bottom: 1rem;
          }

          p {
            color: $white;
            font-weight: 0.875rem;
            font-weight: 500;
          }
        }

        .timelines {
          @include column;
          gap: 1rem;
          overflow: hidden;

          .timeline-wrapper {
            @include center;

            .timeline-content {
              text-align: right;
              width: 30%;
              flex: 1;

              h1 {
                color: $primary;
                font-size: 1.5rem;
                font-weight: 700;
                margin-bottom: 1rem;
              }

              p {
                color: $white;
                font-size: 0.875rem;
                font-weight: 500;
              }

              .timeline-content {
                .timeline-mobile-date {
                  display: none;
                }
              }
            }

            .timeline-seperation {
              @include column;
              justify-content: center;
              align-items: center;
              gap: 0.8rem;
              width: 15%;
              z-index: 2;
              background: $background;

              .line {
                height: 100px;
                width: 4px;
                background: $primary;
              }

              .number {
                height: 50px;
                width: 50px;
                border-radius: 26.5px;
                background: linear-gradient(270deg, #903aff 0%, #d434fe 100%);
                @include center;

                h1 {
                  font-size: 1.5rem;
                  font-weight: 700;
                  color: $white;
                }
              }
            }

            .timeline-date {
              width: 30%;
              flex: 1;

              h1 {
                color: $primary;
                font-size: 1.5rem;
                font-weight: 700;
              }
            }
          }

          .timeline-wrapper-odd {
            .timeline-content {
              text-align: left;
            }
            .timeline-date {
              text-align: right;
            }
          }
        }
      }
    }

    .prices {
      width: 100%;
      @include center;
      border-bottom: 1px solid $gray;
      border-top: 1px solid $gray;
      overflow: hidden;

      &-inner {
        width: 85%;
        padding: 5rem 0;
        background: url("../public/assets/images/header_text_bg.png"),
          $background;
        background-size: contain;
        background-repeat: no-repeat;
        background-blend-mode: hard-light;
        @include between;
        align-items: flex-start;

        .prices-title,
        .prices-title-mobile {
          position: relative;
          width: 80%;
          h1 {
            font-family: "ClashDisplay";
            font-size: 2rem;
            font-weight: 700;
            color: $white;
            margin-bottom: 1rem;
            position: relative;

            .secondary {
              color: $primary;
            }
          }
          p {
            color: $white;
            font-size: 0.875rem;
            font-weight: 500;
          }
          &-star {
            position: absolute;
            right: 0;
            top: 0;
          }
        }

        .prices-title-mobile {
          text-align: center;
          display: none;
        }

        .prices-content {
          @include column;
          justify-content: flex-end;
          align-items: center;
          gap: 10rem;

          .prices-trophies {
            &-wrapper {
              .trophies {
                @include center;
                gap: 2rem;

                .trophy {
                  border-radius: 8px;
                  border: 1px solid #d434fe;
                  background: rgba(212, 52, 254, 0.12);
                  @include column;
                  justify-content: center;
                  align-items: center;
                  padding: 1rem;
                  padding-top: 5rem;
                  position: relative;

                  img {
                    margin-bottom: 1rem;
                    position: absolute;
                    top: 6%;
                    max-width: 8rem;
                    top: -30%;
                  }

                  .position {
                    font-size: 2rem;
                    font-weight: 700;
                    color: $white;
                  }
                  h2 {
                    font-size: 1.3rem;
                    font-weight: 500;
                    color: $white;
                  }
                  .amount {
                    font-size: 1.5rem;
                    font-weight: 700;
                    color: $primary;
                  }
                }

                .first-position {
                  border-color: #903aff;
                  background: rgba(144, 58, 255, 0.12);
                  padding-top: 7rem;
                  order: 2;

                  img {
                    top: -40%;
                    min-width: 13rem;
                  }

                  h2 {
                    margin-bottom: 1rem;
                  }

                  .amount {
                    color: #903aff;
                  }
                }

                .second-position {
                  order: 1;
                }
                .third-position {
                  order: 3;
                }
              }
            }
          }
        }

        .prices-image {
          position: relative;
          padding-top: 5rem;

          &-star {
            position: absolute;
            top: 0;
            right: 0;
          }
          &-star2 {
            position: absolute;
            bottom: 0;
            left: 0;
          }
        }
      }
    }

    .partners {
      width: 100%;
      @include center;
      background: #150e28;

      &-inner {
        width: 85%;
        padding: 5rem 0;
        @include column;
        align-items: center;

        .partners-title {
          @include column;
          text-align: center;
          width: 40%;
          margin-bottom: 5rem;

          h1 {
            color: $white;
            font-weight: 700;
            font-family: "ClashDisplay";
            font-size: 2rem;
            margin-bottom: 1rem;
          }

          p {
            color: $white;
            font-weight: 0.875rem;
            font-weight: 500;
          }
        }

        .partners-list {
          &-wrapper {
            @include center;
            gap: 2rem;
            border-radius: 5px;
            border: 1px solid #d434fe;
            background: rgba(255, 255, 255, 0.01);
            padding: 6rem;

            .partner-group {
              height: 15rem;
              width: 100%;
              @include column;
              align-items: center;
              justify-content: center;

              .partner-image {
                height: 45%;
                @include center;

                img {
                  max-width: 70%;
                  height: auto;
                }
              }

              .seperation-line {
                height: 10%;
                width: 100%;
                @include center;

                .line {
                  background: $primary;
                  height: 4px;
                  width: 80%;
                }
              }
            }

            .middle-line {
              height: 100%;
              @include column;
              justify-content: space-between;
              gap: 3rem;

              .line {
                height: 7rem;
                background: $primary;
                width: 4px;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 85em) {
  .home {
    &-inner {
      .hero {
        &-intro {
          &-wrapper {
            .hero-intro-text {
              font-size: 1.5rem;
            }
          }
        }

        &-content {
          &-wrapper {
            .hero-content-text {
              &-wrapper {
                padding-top: 15%;
                .hero-content-text-title {
                  h1 {
                    font-size: 3.5rem;

                    img {
                      min-height: 3rem;
                      min-width: 3rem;
                    }

                    .bulb {
                      img {
                        min-height: 2.5rem;
                        min-width: 2.5rem;
                      }
                    }
                  }
                }

                p {
                  font-size: 1rem;
                }

                .countdown {
                  &_wrapper {
                    .countdown-time {
                      .countdown-number {
                        font-size: 2.5rem;
                      }
                    }
                  }
                }
              }
            }
            .hero-content-image {
              &-wrapper {
                background-position: bottom;
                padding: 5rem;
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width: 70em) {
  .home {
    &-inner {
      .hero {
        justify-content: center;
        &-intro {
          justify-content: center;
          &-wrapper {
            .hero-intro-text {
              font-size: 1.5rem;
            }
          }
        }

        &-content {
          &-wrapper {
            flex-direction: column;
            gap: 5rem;
            .hero-content-text {
              width: 100%;
              &-wrapper {
                position: unset;
                width: 100%;
                @include column;
                align-items: center;
                padding: 0;

                .star {
                  padding-left: 0;
                  margin-bottom: 1rem;
                }

                .hero-content-text-title {
                  text-align: center;
                  @include column;
                  align-items: center;
                  h1 {
                    font-size: 4rem;
                    text-align: center;

                    img {
                      height: 3rem;
                      width: 3rem;
                    }

                    .bulb {
                      img {
                        min-height: 3rem;
                        min-width: 3rem;
                      }
                    }
                  }
                }

                p {
                  font-size: 1.5rem;
                  width: 80%;
                  text-align: center;
                }
                button {
                  margin-bottom: 2rem;
                }

                .countdown {
                  &-wrapper {
                    .countdown-time {
                      .countdown-number {
                        font-size: 3rem;
                      }
                    }
                  }
                }
              }
            }

            .hero-content-image {
              width: 100%;
            }
          }
        }
      }
      .criteria {
        &-inner {
          flex-direction: column;
          gap: 2rem;

          .criteria-image,
          .criteria-content {
            width: 100%;
            @include column;
            align-items: center;
            text-align: center;

            .criteria-content-title {
              font-size: 1.5rem;
            }
            .criteria-content-desc {
              font-size: 0.8rem;
              line-height: 1.5rem;
            }
          }
        }
      }

      .questions {
        &-inner {
          flex-direction: column-reverse;
          gap: 3rem;

          .questions-image,
          .questions-content {
            width: 100%;
            @include column;
            align-items: center;
            text-align: center;

            .questions-content-title {
              font-size: 1.5rem;
            }
            .questions-content-title-descm {
              margin-bottom: 2rem;
            }
            .questions-content-desc {
              font-size: 0.8rem;
              line-height: 1.5rem;
            }
          }
        }
      }

      .prices {
        &-inner {
          flex-direction: column;
          align-items: center;

          .prices-title-mobile {
            @include column;
          }

          .prices-title {
            display: none;
          }

          .prices-image {
            width: 100%;
            @include center;
            margin-bottom: 10rem;
            padding-top: 0;
          }

          .prices-content {
            .prices-trophies {
              &-wrapper {
                .trophies {
                  gap: 3rem;
                }
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width: 50em) {
  .home {
    &-inner {
      .hero {
        &-intro {
          &-wrapper {
            .hero-intro-text {
              font-size: 1.2rem;
            }
          }
        }

        &-content {
          &-wrapper {
            .hero-content-text {
              &-wrapper {
                .hero-content-text-title {
                  h1 {
                    font-size: 2rem;

                    img {
                      height: 2rem;
                      width: 2rem;
                    }

                    .bulb {
                      img {
                        min-height: 2rem;
                        min-width: 2rem;
                      }
                    }
                  }
                }

                p {
                  font-size: 1rem;
                  width: 70%;
                  text-align: center;
                }
                button {
                  margin-bottom: 2rem;
                }

                .countdown {
                  &-wrapper {
                    .countdown-time {
                      .countdown-number {
                        font-size: 2rem;
                      }
                      .countdown-prefix {
                        font-size: 0.8rem;
                      }
                    }
                  }
                }
              }
            }

            .hero-content-image {
              width: 100%;
            }
          }
        }
      }

      .big-idea {
        &-inner {
          flex-direction: column;
          gap: 2rem;

          .big-idea-image,
          .big-idea-content {
            width: 100%;
            @include column;
            align-items: center;
            text-align: center;

            .big-idea-content-title {
              font-size: 1.5rem;
            }
            .big-idea-content-desc {
              font-size: 0.8rem;
              line-height: 1.5rem;
            }
            &-arrow {
              position: absolute;
              bottom: 0;
              left: 0;
              right: unset;
            }
          }
        }
      }

      .rules {
        &-inner {
          flex-direction: column;
          gap: 2rem;

          .rules-image,
          .rules-content {
            width: 100%;
            @include column;
            align-items: center;
            text-align: center;

            .rules-content-title {
              font-size: 1.5rem;
              &-star {
                left: 0;
              }
            }
            .rules-content-desc {
              font-size: 0.8rem;
              line-height: 1.5rem;
            }
          }
        }
      }

      .timeline {
        &-inner {
          .timeline-title {
            width: 70%;

            h1 {
              font-size: 1.5rem;
            }
          }

          .timelines {
            .timeline-wrapper {
              gap: 1rem;
              .timeline-content {
                width: 100%;
                flex: 1;
                order: 2;
                text-align: left;

                h1 {
                  font-size: 1rem;
                }

                p {
                  font-size: 0.875rem;
                }

                .timeline-mobile-date {
                  display: flex;
                }
              }
              .timeline-seperation {
                .line {
                  width: 3px;
                  height: 70px;
                  gap: 0.5rem;
                }

                .number {
                  height: 30px;
                  width: 30px;

                  h1 {
                    font-size: 1rem;
                  }
                }
              }
              .timeline-date {
                width: 100%;
                display: none;
              }
            }
          }
        }
      }

      .prices {
        &-inner {
          .prices-title-mobile {
            h1 {
              font-size: 1.5rem;
            }
          }
          .prices-content {
            .prices-trophies {
              &-wrapper {
                .trophies {
                  .trophy {
                    padding-top: 4rem;
                    img {
                      max-width: 6rem;
                      top: -25%;
                    }

                    .position {
                      font-size: 1.5rem;
                    }

                    h2 {
                      font-size: 1rem;
                    }
                    .amount {
                      font-size: 1.2rem;
                    }
                  }

                  .first-position {
                    padding-top: 5rem;
                    img {
                      min-width: 10rem;
                      top: -50%;
                    }
                  }
                }
              }
            }
          }
        }
      }

      .partners {
        &-inner {
          width: 85%;

          .partners-title {
            width: 70%;

            h1 {
              font-size: 1.5rem;
            }

            p {
              font-weight: 0.875rem;
            }
          }

          .partners-list {
            &-wrapper {
              @include center;
              gap: 2rem;
              padding: 2rem;

              .partner-group {
                height: 15rem;
                width: 100%;

                .partner-image {
                  height: 45%;
                  @include center;

                  img {
                    max-width: 100%;
                    height: auto;
                  }
                }

                .seperation-line {
                  height: 10%;
                  width: 100%;
                  @include center;

                  .line {
                    background: $primary;
                    height: 4px;
                    width: 80%;
                  }
                }
              }

              .middle-line {
                height: 100%;

                .line {
                  height: 4rem;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 40em) {
  .home {
    &-inner {
      .prices {
        &-inner {
          .prices-image {
            margin-bottom: 5rem;
          }
          .prices-content {
            .prices-trophies {
              &-wrapper {
                .trophies {
                  gap: 1rem;

                  .trophy {
                    padding-top: 3rem;
                    img {
                      max-width: 4rem;
                      top: -20%;
                    }

                    .position {
                      font-size: 1.2rem;
                    }

                    h2 {
                      font-size: 0.9rem;
                    }
                    .amount {
                      font-size: 1rem;
                    }
                  }

                  .first-position {
                    padding-top: 4rem;
                    img {
                      min-width: 6rem;
                      top: -25%;
                    }
                  }
                }
              }
            }
          }
        }
      }

      .partners {
        &-inner {
          .partners-list {
            &-wrapper {
              .partner-group {
                height: 10rem;
              }
            }
          }
        }
      }
    }
  }
}

@keyframes rotate {
  0% {
    transform: rotate(-360deg);
  }
}

@keyframes spring {
  0% {
    transform: translateX(2rem) rotate(-45deg);
  }
  50% {
    transform: translate(10rem) rotate(-360deg);
  }
  100% {
    transform: translateX(2rem) rotate(-45deg);
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0px);
  }
  40% {
    transform: translateY(-40px);
  }
  80%,
  100% {
    transform: translateY(0px);
  }
}
