@import "./variables";

.home {
  height: 100%;

  &-inner {
    @include column;
    gap: 1rem;

    .hero {
      width: 100%;
      @include column;
      align-items: center;
      border-bottom: 1px solid $gray;
      padding-top: 0;

      &-intro {
        padding-top: 2rem;
        display: flex;
        justify-content: flex-end;
        width: 85%;
        margin-bottom: 2rem;
        z-index: 2;

        &-wrapper {
          @include column;
          align-items: flex-end;
          float: right;

          .hero-intro-text {
            font-size: 2rem;
            font-style: italic;
            font-weight: 700;
            color: $white;
            text-align: left;
          }
        }
      }

      &-content {
        width: 100%;
        @include center;

        &-wrapper {
          width: 85%;
          display: flex;
          justify-content: space-between;
          align-items: center;

          .hero-content-text {
            width: 45%;
            @include column;
            z-index: 1;

            &-wrapper {
              background: url("../public/assets/images/header_text_bg.png"),
                $background;
              background-size: contain;
              background-repeat: no-repeat;
              background-blend-mode: hard-light;
              position: absolute;
              top: 0;
              padding-top: 10%;
              width: 40%;
            }

            .bottom-star {
              position: absolute;
              bottom: 10%;
              right: 30%;
            }

            &-title {
              margin-bottom: 1.5rem;
              z-index: 2;
              h1 {
                font-family: "ClashDisplay";
                font-size: 4.5rem;
                font-weight: 700;
                color: $white;
                line-height: normal;
                display: flex;
                align-items: center;

                img {
                  min-height: 4rem;
                  min-width: 4rem;
                }

                .secondary {
                  color: $primary;
                }

                .bulb {
                  position: relative;

                  img {
                    position: absolute;
                    top: -50%;
                    right: -50%;
                    min-height: 3rem;
                    min-width: 3rem;
                  }
                }
              }
            }

            p {
              z-index: 2;
              font-size: 1.25rem;
              font-style: normal;
              font-weight: 500;
              line-height: 166%;
              color: $white;
              margin-bottom: 3rem;
              height: max-content;
            }

            button {
              width: max-content;
              margin-bottom: 5rem;
            }

            .countdown {
              color: $white;

              &-wrapper {
                display: flex;
                gap: 2rem;

                .countdown-time {
                  display: flex;
                  align-items: baseline;
                  font-weight: 500;

                  .countdown-number {
                    font-size: 3.5rem;
                    line-height: 133%;
                  }

                  .countdown-prefix {
                    font-size: 1rem;
                    line-height: 133%;
                  }
                }
              }
            }
          }

          .hero-content-image {
            width: 50%;
            @include center;
            position: relative;

            .hero-content-image-star {
              position: absolute;
              top: 0;
              left: -10%;
            }
            &-wrapper {
              height: 100%;
              background: url("../public/assets/images/vr_guy.png"),
                rgba(21, 14, 40, 0.8);
              background-blend-mode: luminosity;
              background-size: contain;
              background-repeat: no-repeat;
              display: flex;
              justify-content: flex-start;
              padding: 0 3rem 0 0;

              img {
                animation: rotate 20s infinite linear;
              }
            }
          }
        }
      }
    }

    .big-idea {
      width: 100%;
      @include center;
      // border-bottom: 2px solid $gray;

      &-inner {
        padding: 2rem 0;
        width: 85%;
        @include center;
        justify-content: space-between;

        .big-idea-image {
          width: 45%;
          height: 100%;
          padding: 2rem;
          position: relative;

          &-star {
            position: absolute;
            top: 0;
            left: 0;
          }
          &-arrow {
            position: absolute;
            bottom: 0;
            right: 0;
            animation: spring 3s infinite linear;
          }
        }

        .big-idea-content {
          width: 45%;
          &-wrapper {
            .big-idea-content-title {
              font-family: "ClashDisplay";
              font-size: 2rem;
              font-weight: 700;
              color: $white;
              margin-bottom: 1rem;
              position: relative;

              .secondary {
                color: $primary;
              }

              &-star {
                position: absolute;
                right: 0;
                top: 0;
              }
            }
            .big-idea-content-desc {
              color: $white;
              font-size: 0.875rem;
              font-weight: 500;
              line-height: 2rem;
            }
          }
        }
      }
    }

    .rules {
      width: 100%;
      @include center;
      height: 100%;
      border-bottom: 1px solid $gray;
      border-top: 1px solid $gray;
      background: url("../public/assets/images/header_text_bg.png"), $background;
      background-size: contain;
      background-repeat: no-repeat;
      background-blend-mode: hard-light;

      &-inner {
        height: 100%;
        padding: 2rem 0;
        width: 85%;
        @include center;
        justify-content: space-between;

        .rules-image {
          width: 45%;
          height: 100%;
          position: relative;
        }

        .rules-content {
          width: 45%;
          // background: url("../public/assets/images/header_text_bg.png"),
          //   $background;
          // background-size: contain;
          // background-repeat: no-repeat;
          // background-blend-mode: hard-light;
          // background-position: bottom;
          padding: 3rem 0;

          &-wrapper {
            position: relative;

            .rules-content-title {
              font-family: "ClashDisplay";
              font-size: 2rem;
              font-weight: 700;
              color: $white;
              margin-bottom: 1rem;

              .secondary {
                color: $primary;
              }

              &-star {
                position: absolute;
                left: 50%;
                top: 0;
              }
              &-star2 {
                position: absolute;
                right: 0;
                bottom: -5%;
              }
            }
            .rules-content-desc {
              color: $white;
              font-size: 0.875rem;
              font-weight: 500;
              line-height: 2rem;
            }
          }
        }
      }
    }

    .criteria {
      width: 100%;
      @include center;
      // border-bottom: 2px solid $gray;

      &-inner {
        padding: 2rem 0;
        width: 85%;
        @include center;
        justify-content: space-between;
        overflow: hidden;

        .criteria-image {
          width: 45%;
          height: 100%;
          padding: 2rem;
          position: relative;

          &-star {
            position: absolute;
            top: 0;
            left: 0;
          }
          &-arrow {
            position: absolute;
            bottom: 0;
            right: 0;
            animation: spring 3s infinite linear;
          }
        }

        .criteria-content {
          width: 45%;
          &-wrapper {
            .criteria-content-title {
              font-family: "ClashDisplay";
              font-size: 2rem;
              font-weight: 700;
              color: $white;
              margin-bottom: 1rem;
              position: relative;

              .secondary {
                color: $primary;
              }

              &-star {
                position: absolute;
                right: 0;
                top: 0;
              }
              &-star2 {
                position: absolute;
                left: 50%;
                top: 50%;
              }
            }
            .criterias {
              li {
                margin-bottom: 1rem;
                p {
                  color: $white;
                  font-size: 0.875rem;
                  font-weight: 700;
                  line-height: 170%;

                  span {
                    color: $pink;
                    font-size: 1rem;
                  }
                }
              }
            }

            button {
              margin-top: 2rem;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 85em) {
  .home {
    &-inner {
      .hero {
        &-intro {
          &-wrapper {
            .hero-intro-text {
              font-size: 1.5rem;
            }
          }
        }

        &-content {
          &-wrapper {
            .hero-content-text {
              &-wrapper {
                padding-top: 15%;
                .hero-content-text-title {
                  h1 {
                    font-size: 3.5rem;

                    img {
                      min-height: 3rem;
                      min-width: 3rem;
                    }

                    .bulb {
                      img {
                        min-height: 2.5rem;
                        min-width: 2.5rem;
                      }
                    }
                  }
                }

                p {
                  font-size: 1rem;
                }

                .countdown {
                  &_wrapper {
                    .countdown-time {
                      .countdown-number {
                        font-size: 2.5rem;
                      }
                    }
                  }
                }
              }
            }
            .hero-content-image {
              &-wrapper {
                background-position: bottom;
                padding: 5rem;
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width: 70em) {
  .home {
    &-inner {
      .hero {
        justify-content: center;
        &-intro {
          justify-content: center;
          &-wrapper {
            .hero-intro-text {
              font-size: 1.5rem;
            }
          }
        }

        &-content {
          &-wrapper {
            flex-direction: column;
            gap: 5rem;
            .hero-content-text {
              width: 100%;
              &-wrapper {
                position: unset;
                width: 100%;
                @include column;
                align-items: center;
                padding: 0;

                .star {
                  padding-left: 0;
                  margin-bottom: 1rem;
                }

                .hero-content-text-title {
                  text-align: center;
                  @include column;
                  align-items: center;
                  h1 {
                    font-size: 4rem;
                    text-align: center;

                    img {
                      height: 3rem;
                      width: 3rem;
                    }

                    .bulb {
                      img {
                        min-height: 3rem;
                        min-width: 3rem;
                      }
                    }
                  }
                }

                p {
                  font-size: 1.5rem;
                  width: 80%;
                  text-align: center;
                }
                button {
                  margin-bottom: 2rem;
                }

                .countdown {
                  &-wrapper {
                    .countdown-time {
                      .countdown-number {
                        font-size: 3rem;
                      }
                    }
                  }
                }
              }
            }

            .hero-content-image {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 50em) {
  .home {
    &-inner {
      .hero {
        &-intro {
          &-wrapper {
            .hero-intro-text {
              font-size: 1.2rem;
            }
          }
        }

        &-content {
          &-wrapper {
            .hero-content-text {
              &-wrapper {
                .hero-content-text-title {
                  h1 {
                    font-size: 2rem;

                    img {
                      height: 2rem;
                      width: 2rem;
                    }

                    .bulb {
                      img {
                        min-height: 2rem;
                        min-width: 2rem;
                      }
                    }
                  }
                }

                p {
                  font-size: 1rem;
                  width: 70%;
                  text-align: center;
                }
                button {
                  margin-bottom: 2rem;
                }

                .countdown {
                  &-wrapper {
                    .countdown-time {
                      .countdown-number {
                        font-size: 2rem;
                      }
                      .countdown-prefix {
                        font-size: 0.8rem;
                      }
                    }
                  }
                }
              }
            }

            .hero-content-image {
              width: 100%;
            }
          }
        }
      }

      .big-idea {
        &-inner {
          flex-direction: column;
          gap: 2rem;

          .big-idea-image,
          .big-idea-content {
            width: 100%;
            @include column;
            align-items: center;
            text-align: center;

            .big-idea-content-title {
              font-size: 1.5rem;
            }
            .big-idea-content-desc {
              font-size: 0.8rem;
              line-height: 1.5rem;
            }
            &-arrow {
              position: absolute;
              bottom: 0;
              left: 0;
              right: unset;
            }
          }
        }
      }

      .rules {
        &-inner {
          flex-direction: column;
          gap: 2rem;

          .rules-image,
          .rules-content {
            width: 100%;
            @include column;
            align-items: center;
            text-align: center;

            .rules-content-title {
              font-size: 1.5rem;
              &-star {
                left: 0;
              }
            }
            .rules-content-desc {
              font-size: 0.8rem;
              line-height: 1.5rem;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 45em) {
}

@keyframes rotate {
  0% {
    transform: rotate(-360deg);
  }
}

@keyframes spring {
  0% {
    transform: translateX(2rem) rotate(-45deg);
  }
  50% {
    transform: translate(10rem) rotate(-360deg);
  }
  100% {
    transform: translateX(2rem) rotate(-45deg);
  }
}
