@import "./variables";

.layout {
  z-index: 999;
  .nav {
    width: 100%;
    @include center;
    color: $white;
    border-bottom: 2px solid $gray;
    padding-top: 2rem;
    padding-bottom: 1.5rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;

    &-inner {
      width: 85%;
      @include between;

      .brand {
        &-name {
          font-family: "ClashDisplay";
          font-size: 2rem;
          font-weight: 700;

          .linked {
            color: $primary;
          }
        }
      }

      .nav-items {
        @include center;
        gap: 7rem;

        .nav-links {
          @include center;
          gap: 3rem;

          .nav-link {
            font-size: 1rem;
            font-weight: 500;
            cursor: pointer;

            &:hover {
              background: linear-gradient(90deg, #903aff 3.08%, #ff26b9 93.85%);
              background-clip: text;
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
            }
          }

          .active-nav-link {
            background: linear-gradient(90deg, #903aff 3.08%, #ff26b9 93.85%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
        }
      }
    }
  }

  .nav-with-bg {
    background: $background;
    transition: all 0.2s ease-in-out;
    box-shadow: 0 3px 3px 0px rgba(0, 0, 0, 0.7);
  }

  main {
    margin-top: 7rem;
  }
}
